{% extends 'base.html' %}

{% block title %}View All Recruits{% endblock %}
{% block content %}
<div class="text-center">
    <h2>All the orders for intended Recruit</h2>
</div>
{% for order in orders %}
<div class="container w-50 my-3 fade-in">
    <div class="card shadow-lg border-0 rounded-4 hover-scale">
        <div class="card-body">
            <h5 class="card-title text-primary fw-bold">Call-name: {{ order.name_order }}</h5>
            <p class="card-text text-muted">Description: {{ order.description_of_order }}</p>
            <p class="card-text"><strong>For:</strong> {{ order.user.first_name }} {{ order.user.last_name }}, <strong>Rank:</strong> {{ order.user.rank }} </p>
            <p class="card-text text-end text-secondary">{{ order.data_giving }}</p>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}