{% extends 'base.html' %}

{% block title %}View All Recruits{% endblock %}
{% block content %}
{% for private in privates %}
<form class="d-flex">
    <input class="form-control me-2" name="name" value="{{ request.GET.privates }}" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
<div class="container w-50">
    <div class="card">
        <div class="card-header">
            All Information about {{ private.first_name_private }}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ private.first_name_private }}</h5>
            <p class="card-text">{{ private.last_name_private }}</p>
            <p class="card-text">{{ private.call_sign }}</p>
            <p class="card-text">{{ private.rank }}</p>
            <p class="card-text">{{ private.biography }}</p>
            <p class="card-text">{{ private.university_education }}</p>
            <p class="card-text">{{ private.steamer }}</p>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}