{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container py-5">
  <div class="row justify-content-center align-items-start">
    <div class="col-md-6 mb-3">
      <div class="card shadow-lg border-0 rounded-4">
        <div class="card-body p-4">
          <h3 class="mb-4 text-center">Edit Operation</h3>
          <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-grid">
              <button type="submit" class="btn btn-primary mt-3">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
